services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    ClassLockerBundle\EventListener\ClassListener:
        tags:
            - { name: kernel.event_listener, event: pimcore.class.preUpdate, method: onPreUpdate }

    ClassLockerBundle\Service\ClassLockerService: ~